@import url(https://fonts.googleapis.com/css?family=Roboto);

    /* Global */
    body {
      color: white;
      font-family: 'Roboto', monospace;  
      background-color: black;
      padding: 2vw; /* Alterado para ser responsivo */
    }

    .container {
      text-align: center;
    }

    .icon-container {
      display: inline-block;
      margin: 0 3vw; /* Alterado para ser responsivo */
      opacity: 0;
      animation: fadeIn 1s ease forwards;
    }

    .icon-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: transform 0.3s ease; /* Transição suave */
    }

    .icon-button:hover img {
      transform: scale(1.1); /* Aumenta a escala ao passar o mouse */
    }

    .icon-button img {
      width: 10vw; /* Alterado para ser responsivo */
      height: 10vw; /* Alterado para ser responsivo */
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }